USE [master]
GO
/****** Object:  Database [SaglikOcagiOtomasyonu]    Script Date: 28.12.2025 14:17:47 ******/
CREATE DATABASE [SaglikOcagiOtomasyonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaglikOcagiOtomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SaglikOcagiOtomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaglikOcagiOtomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SaglikOcagiOtomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaglikOcagiOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaglikOcagiOtomasyonu]
GO
/****** Object:  Table [dbo].[cikis]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cikis](
	[dosyano] [varchar](20) NULL,
	[sevktarihi] [datetime] NULL,
	[cikissaati] [datetime] NULL,
	[toplamtutar] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doktorlar]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doktorlar](
	[kodu] [varchar](20) NOT NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[tel] [varchar](20) NULL,
	[poliklinik] [varchar](50) NULL,
 CONSTRAINT [PK_doktorlar] PRIMARY KEY CLUSTERED 
(
	[kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hastalar]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hastalar](
	[dosyano] [varchar](10) NOT NULL,
	[tcno] [varchar](11) NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[kurumadi] [varchar](50) NULL,
	[cinsiyet] [varchar](10) NULL,
	[dogumtarihi] [date] NULL,
	[dogumyeri] [varchar](50) NULL,
	[telefon] [varchar](15) NULL,
	[adres] [varchar](250) NULL,
	[medeni_hal] [varchar](20) NULL,
	[kan_grubu] [varchar](10) NULL,
	[babaadi] [varchar](50) NULL,
	[anneadi] [varchar](50) NULL,
	[yakin_adi] [varchar](50) NULL,
	[yakin_tel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[dosyano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[islemler]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islemler](
	[islemid] [int] IDENTITY(1,1) NOT NULL,
	[islemadi] [varchar](100) NULL,
	[birimfiyat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[islemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[kodu] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
	[yetki] [varchar](10) NULL,
	[evtel] [varchar](20) NULL,
	[ceptel] [varchar](20) NULL,
	[adres] [varchar](255) NULL,
	[dogumyeri] [varchar](50) NULL,
	[dogumtarihi] [datetime] NULL,
	[isebaslama] [datetime] NULL,
	[maas] [decimal](18, 2) NULL,
	[unvan] [varchar](50) NULL,
	[cinsiyet] [varchar](5) NULL,
	[tcno] [varchar](11) NULL,
	[dogumtarihi_str] [varchar](20) NULL,
 CONSTRAINT [PK_kullanicilar] PRIMARY KEY CLUSTERED 
(
	[kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poliklinik]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poliklinik](
	[poliklinikadi] [varchar](50) NOT NULL,
	[durum] [varchar](10) NULL,
	[aciklama] [varchar](255) NULL,
 CONSTRAINT [PK_poliklinik] PRIMARY KEY CLUSTERED 
(
	[poliklinikadi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sevk]    Script Date: 28.12.2025 14:17:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sevk](
	[sevkid] [int] IDENTITY(1,1) NOT NULL,
	[dosyano] [varchar](10) NULL,
	[poliklinik] [varchar](50) NULL,
	[sirano] [varchar](10) NULL,
	[saat] [varchar](10) NULL,
	[yapilanislem] [varchar](100) NULL,
	[drkod] [varchar](10) NULL,
	[miktar] [int] NULL,
	[birimfiyat] [money] NULL,
	[toplamtutar] [money] NULL,
	[tarih] [date] NULL,
	[taburcu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[sevkid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[doktorlar] ([kodu], [ad], [soyad], [tel], [poliklinik]) VALUES (N'DR001', N'Ali', N'Veli', NULL, N'Dahiliye')
GO
INSERT [dbo].[hastalar] ([dosyano], [tcno], [ad], [soyad], [kurumadi], [cinsiyet], [dogumtarihi], [dogumyeri], [telefon], [adres], [medeni_hal], [kan_grubu], [babaadi], [anneadi], [yakin_adi], [yakin_tel]) VALUES (N'1', N'11111111111', N'Ahmet', N'Yılmaz', N'SSK', N'Erkek', CAST(N'1985-05-10' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hastalar] ([dosyano], [tcno], [ad], [soyad], [kurumadi], [cinsiyet], [dogumtarihi], [dogumyeri], [telefon], [adres], [medeni_hal], [kan_grubu], [babaadi], [anneadi], [yakin_adi], [yakin_tel]) VALUES (N'2', N'22222222222', N'Ayşe', N'Demir', N'Bağkur', N'Kadın', CAST(N'1990-08-20' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hastalar] ([dosyano], [tcno], [ad], [soyad], [kurumadi], [cinsiyet], [dogumtarihi], [dogumyeri], [telefon], [adres], [medeni_hal], [kan_grubu], [babaadi], [anneadi], [yakin_adi], [yakin_tel]) VALUES (N'3', N'33333333333', N'Mehmet', N'Çelik', N'Emekli Sandığı', N'Erkek', CAST(N'1975-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[islemler] ON 

INSERT [dbo].[islemler] ([islemid], [islemadi], [birimfiyat]) VALUES (1, N'Genel Muayene', 500.0000)
INSERT [dbo].[islemler] ([islemid], [islemadi], [birimfiyat]) VALUES (2, N'Kan Tahlili', 200.0000)
INSERT [dbo].[islemler] ([islemid], [islemadi], [birimfiyat]) VALUES (3, N'İdrar Tahlili', 150.0000)
SET IDENTITY_INSERT [dbo].[islemler] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanicilar] ON 

INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [dogumyeri], [dogumtarihi], [isebaslama], [maas], [unvan], [cinsiyet], [tcno], [dogumtarihi_str]) VALUES (1, N'Admin', N'Yönetici', N'1', N'admin', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [dogumyeri], [dogumtarihi], [isebaslama], [maas], [unvan], [cinsiyet], [tcno], [dogumtarihi_str]) VALUES (2, N'Ahmet', N'Yılmaz', NULL, N'user', NULL, NULL, NULL, NULL, NULL, NULL, CAST(5000.00 AS Decimal(18, 2)), N'Doktor', NULL, N'11111111111', NULL)
INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [dogumyeri], [dogumtarihi], [isebaslama], [maas], [unvan], [cinsiyet], [tcno], [dogumtarihi_str]) VALUES (3, N'Ayşe', N'Demir', NULL, N'user', NULL, NULL, NULL, NULL, NULL, NULL, CAST(3500.00 AS Decimal(18, 2)), N'Hemşire', NULL, N'22222222222', NULL)
SET IDENTITY_INSERT [dbo].[kullanicilar] OFF
GO
INSERT [dbo].[poliklinik] ([poliklinikadi], [durum], [aciklama]) VALUES (N'Dahiliye', N'Geçerli', N'Genel Dahiliye')
INSERT [dbo].[poliklinik] ([poliklinikadi], [durum], [aciklama]) VALUES (N'KBB', N'Geçerli', N'Kulak Burun Boğaz')
GO
SET IDENTITY_INSERT [dbo].[sevk] ON 

INSERT [dbo].[sevk] ([sevkid], [dosyano], [poliklinik], [sirano], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [toplamtutar], [tarih], [taburcu]) VALUES (1, N'1', N'Dahiliye', N'1', N'09:00', N'Genel Muayene', N'1', 1, 500.0000, 500.0000, CAST(N'2025-12-28' AS Date), 0)
INSERT [dbo].[sevk] ([sevkid], [dosyano], [poliklinik], [sirano], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [toplamtutar], [tarih], [taburcu]) VALUES (3, N'2', N'KBB', N'1', N'10:15', N'Genel Muayene', N'2', 1, 500.0000, 500.0000, CAST(N'2025-12-28' AS Date), 1)
INSERT [dbo].[sevk] ([sevkid], [dosyano], [poliklinik], [sirano], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [toplamtutar], [tarih], [taburcu]) VALUES (4, N'3', N'Acil', N'1', N'11:45', N'Serum Takma', N'3', 1, 100.0000, 100.0000, CAST(N'2025-12-28' AS Date), 0)
SET IDENTITY_INSERT [dbo].[sevk] OFF
GO
ALTER TABLE [dbo].[sevk] ADD  DEFAULT ((0)) FOR [taburcu]
GO
USE [master]
GO
